<!-- Filtre -->
<div></div>

<!-- Liens affichage de l'inscription et de connexion  -->
<div ng-click="loginStyle.l_login()" id="l_login">LOGIN</div>
<div ng-click="loginStyle.l_register()" id="l_register">REGISTER</div>

<!-- Formulaire d'inscription et de connexion -->
<section>
    <img alt="" src=""/>
    <span>Lorem Ipsum Dolor Sit Amet</span>

    <form role="form" ng-submit="register()" id="register">
        <input ng-model="username" type="text" placeholder="Username"/>
        <span ng-show="usernameRequired" class="help-block">Username is required</span>
        <input ng-model="email" type="email" placeholder="Email"/>
        <span ng-show="emailRequired" class="help-block">Email is required</span>
        <input ng-model="password" type="password" placeholder="Password"/>
        <span ng-show="passwordRequired" class="help-block">Password is required</span>
        <input type="submit" value="REGISTER"/>
    </form>

    <form role="form" ng-submit="login()" id="login">
        <input ng-model="username" type="text" placeholder="Username or Email"/>
        <span ng-show="usernameRequired" class="help-block">Username is required</span>
        <input ng-model="password" type="password" placeholder="Password"/>
        <span ng-show="passwordRequired" class="help-block">Password is required</span>
        <input type="submit" value="LOGIN"/>
        <span ng-click="loginStyle.l_forgot_password()" id="l_forgot_password">Forgot Password ?</span>

    </form>

    <form role="form" ng-submit="sendNewPwd()" id="forgot_password">
        <input ng-model="pwdforgetvar" type="text" placeholder="Your email"/>
        <input type="submit" value="SEND"/>
    </form>

    <!-- Retour sur connexion -->

    <div ng-click="loginStyle.return_register()" id="return_register">
        <p>{{ PostDataResponse }}</p>
        <img src=""/>
    </div>

</section>

<!-- Autres liens -->
<ul id="others">
    <li>Twitter</li>
    <li>Terms of Services</li>
    <li>© Copyright 2017</li>
</ul>


<!--<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" ng-submit="login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <p>{{ PostDataResponse }}</p>
        <button ng-click="pwdForgot()" class="btn">Mot de passe oublié</button>

        <br>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
    </form>
    <div ng-show="showpwd">
        <form ng-submit="sendNewPwd()">
            <input type="email" name="pwdforgetvar" id="pwdforgetvar" ng-model="pwdforgetvar" />
            <button type="submit" class="btn btn-primary">Demande nouveaux mdp</button>
        </form>
        <p>-------------------------------------</p>
    </div>
</div>
-->
