<div ng-controller="ProfilController as p" class="col-md-6 col-md-offset-3">
    <p>Nombre de code enregistrés: <span>{{$parent.nbSnippets}}</span></p>
    <p>{{$parent.userName}}</p>
    <p>{{$parent.userEmail}}</p>
    <button class="btn btn-primary" ng-click="p.updateProfil.show()">Update profil</button>
    <form ng-submit="p.updateProfil.update()" ng-show="p.showUpdate">
        <p>Nom d'utilisateur</p>
        <input type="text" ng-model="$parent.userName"/>
        <p>Email</p>
        <input type="email" ng-model="$parent.userEmail"/>
        <p>Mot de passe</p>
        <input type="password" ng-model="p.updateProfil.modifPassword1"/>
        <p>Confirmation mot de passe</p>
        <input type="password" ng-model="p.updateProfil.modifPassword2"/>
        <div class="form-group">
            <label for="file">Changez votre photo de profil</label>
            <input onchange="angular.element(this).scope().fileNameChanged()" type="file" name="fichier" id="file" class="form-control fileUploadPPup" />
        </div>
        <input type="submit" ng-show="p.updateProfil.modifPassword1 == p.updateProfil.modifPassword2" value="Envois" />
    </form>
</div>
