
<li class="list-group-item">
    <button class="btn" ng-click="controller.supprCode(code.id)">Supr</button>
    <button class="btn btn-primary" ng-click="updateCode()">Update</button>
    <button ng-click="view(code)" class="btn btn-default">{{code.name}}</button>
    <span ng-repeat="l in code.langage">{{l}}/</span>
    <pre ng-show="wantView">{{code.content}}</pre>
    <form ng-show="updateCodeVar" ng-submit="updateCodeValidation(code)">
        <textarea ng-model="code.content"></textarea>
        <input type="submit" value"envois">
    </form>
</li>
