<div class="container">
    <div class="form-group">
        <label for="file1">Screenshot 1</label>
        <input class="screenshot" type="file" name="file1" id="file1">
    </div>
    <div class="form-group">
        <label for="file2">Screenshot 2</label>
        <input class="screenshot" type="file" name="file2" id="file2">
    </div>
    <div class="form-group">
        <label for="file3">Screenshot 3</label>
        <input class="screenshot" type="file" name="file3" id="file3">
    </div>
</div>
