<div class="container">
    <div class="upload_form_cont">
        <div id="dropArea"><span>Zone de drop </span><button class="btn">Ajouter un fichier</button></div>
    </div>
    <div class="info">
        <input class="file" id="file0" type="file" style="display:none;">
        <p id="info0"></p><button data-id="0" style="display:none;" class="supr">supr</button>
        <input class="file" id="file1" type="file" style="display:none;">
        <p id="info1"></p><button data-id="1" style="display:none;" class="supr">supr</button>
        <input class="file" id="file2" type="file" style="display:none;">
        <p id="info2"></p><button data-id="2" style="display:none;" class="supr">supr</button>
    </div>
</div>
